body {
    font-family: 'Source Sans Pro', sans-serif;
}

.header {
    width: 100%;
    height: 40vh;
    background-color: #0E1E6E;
}

.fa-arrow-right-long {
    position: relative;
    top: 10px;
    color: #0E1E6E;
}

p {
    color: #0E1E6E;
    font-weight: 700;
}

span {
    color: green !important;
}

.btn {
    background-color: #0E1E6E;
    color: white;
}

.equal {
    color: #0E1E6E !important;
    font-weight: 700;

}

@media only screen and (max-width: 768px) {
    .box {
        width: 80%;
    }
}